/* ----------------GENERAL--------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

:root {
    --checkbox-field: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    background: #FBFBFB;
    min-height: 100%;
}

main {
    padding: 0 0px;
}

main p {
    font-family: "Montserrat", sans-serif;
    font-weight:lighter;
    font-size: 1.5em;
    line-height: 1.5em;
}

main h2 {
    font-family: "Montserrat", sans-serif;
    font-weight:lighter;
    font-size: 2em;
}


/* ----------------Header LOGO--------------------- */



/* -----------------NAV-------------------- */
header {
    background-color: #272727;
    display: flex;
    justify-content: space-around;    
    height: 6em;
    font-family: "Montserrat", sans-serif;
}

.container0 {
    display: flex;
    flex-direction: column;
}

.container0 a{
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.container0 a:hover{
    color:cornflowerblue;
    transition: all 0.3s ease 0s;
}

.box1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    background-color: #333232;
}

.box1 form {
    display: flex;
    flex-direction: row;
    margin: 0 3vw;
}

.box1 button {
    display: flex;
    flex-direction: column;
    height: 1.5em;
    justify-content: center;
}
div.entry {
    display: flex;
    flex-direction: row;
    
}
.entry-field1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entry input {
    height: 1.5em;
    width: 10vw;
}

.signup {
    margin: 0 3vw 0 0;
}

div.signup a{
    text-decoration: none;
    color: aliceblue;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box2{
   flex: 2; 
}

.box2 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 4em;
}

.box2 ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    margin: 0 2.5vw;
}

.logintext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: lime;
}

.logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* -----------------NAV-END------------------- */

/* -----------------Main-------------------- */

.container3 {
    min-height: 100vh;
}


fieldset {
    background: white;
	border: 1px solid black;
	border-radius: 1em;
	margin: 2% 10%;
}
legend{
    background: white;
	border: 1px solid black;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem #888;
	padding: 0.5rem 1rem;
}

.container3 p {
    padding: 20vh;
    color: limegreen;
}

.container3 a {
    text-decoration: none;
    color: black;
  
}
.container3 button{
margin-left: 45vw;
    width: 5rem;
    height: 1.3rem;
}

.container3 ul{
    padding: 1rem;
}
.container3 li {
    list-style: none;
    padding: 0 0 0 1rem;
}
.box3a {
    display: flex;
    justify-content: space-around;
}
#message {
    margin: 1rem;
    height: 9rem;
    width: 16rem;
}

/*
.sendbutton {
    display: flex;
    justify-content: center;
    padding: 0 0 1rem 0;
    font-size: 12px; */
    
}
.sendbutton button {
    font-size: 20px;
}

.box3b li{
    display: inline-block;
}


#datacheck {
    display: var(--checkbox-field);
}




.container5 {
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0;
}
.footer-social {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-social ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background:white;
    transition: all 0.3s ease 0s;
}
.footer-social ul li:hover{background: aqua;}

.container5 ul li a{
    color: #272727;
    font-size: 25px;
    display: block;
}
.container5 ul li a i{
    line-height: 50px;
}

.footer-menu{
    width: 1005;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-menu ul li{
    display: inline-block;
    margin: 0 15px;
}
.footer-menu ul li a{
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.footer-menu ul li a:hover{color: aqua;}

.footer-last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 0.6em;
    transition: all 0.3s ease 0s;
}
.footer-last:hover{color: aqua;}
